.container {
  margin: 4rem 0 1.5rem;
  display: flex;
  justify-content: space-between;
}
.container > p {
  display: flex;
  gap: 8px;
  font-weight: 700;
}
.container > p:first-child {
  color: var(--blue);
}
.container > p:nth-child(n+2) {
  color: var(--purple);
}
.container > p > span {
  display: flex;
  padding: 2px 8px;
  background: var(--gray-400);
  border-radius: 999px;
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 15px;
  
}

.taskList {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.task {
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
.checkbox > input[type="checkbox"] + span{
  color: var(--gray-100);
  font-size: 0.865rem;
  line-height: 20px;
}
.checkbox > input[type="checkbox"]:checked + span{
  color: var(--gray-300);
  text-decoration-line: line-through;
}
.trashIcon {
  color: var(--gray-300);
  cursor: pointer;

  transition: color 0.2s;
}
.trashIcon:hover {
  color: var(--danger);
}